@inject IPortfolioBlockService PortfolioBlockService;

<h3>Add New Portfolio Block</h3>

<button @onclick="ShowNewPortfolioForm">+ Add New Portfolio</button>

@if (toggle)
{
    <div>
        <NewPortfolioForm OnPortfolioResult="PortfolioResultResponse" />
    </div>
}
<br />
@if (message != string.Empty)
{
    @message
}


@code {
    private bool toggle;
    private string message = string.Empty;
    [Parameter]
    public EventCallback<bool> ShouldRefresh { get; set; }

    void ShowNewPortfolioForm()
    {
        toggle = true;
        message = string.Empty;
        var value = nameof(NewPortfolioForm);   
    }

    protected async void PortfolioResultResponse(string message)
    {
        if (message.Contains("successfully"))
        {
            toggle = false;
            this.message = message;
            await Refresh();
        }
        else
        {
            this.message = message;
        }
    }

    protected async Task Refresh()
    {
        await ShouldRefresh.InvokeAsync(true);
    }

}
