@inject IPortfolioBlockService portfolioBlockService
@inject NavigationManager navigationManager

<h1>Anoarai</h1>

<AddNewPortfolioBlock ShouldRefresh="IsChangedForRefresh" />

<div class="PortfolioBlockSection">
    <Virtualize Items=@portfolioBlockService.GetPortfolio() Context="block">
        <PortfolioBlockTemplate Data="block" />
    </Virtualize>
</div>


@code {
    private bool ShouldRefresh = false;

    protected void IsChangedForRefresh(bool refresh)
    {
        ShouldRefresh = true;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
