@inject IPortfolioBlockService portfolioBlockService
@inject ISongService songService
@inject NavigationManager navigationManager

<h1>Anoarai</h1>

<AddNewPortfolioBlock ShouldRefresh="IsChangedForRefresh" />

<div class="PortfolioBlockSection">
    <Virtualize Items=@portfolioBlockService.GetPortfolio() Context="block">
        <PortfolioBlockTemplate Data="block" />
    </Virtualize>
</div>

<form method="post" enctype="multipart/form-data">
    <input type="text" name="name"/>
    <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif" />
    <input type="submit" />
</form>

Songs:

<div class="SongBlockTemplateSection">
    <Virtualize Items=@songService.GetSongs() Context="Song">
        <SongTemplateMainPage Data="Song" />
    </Virtualize>
</div>


@code {
    private bool ShouldRefresh = false;

    protected void IsChangedForRefresh(bool refresh)
    {
        ShouldRefresh = true;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
