
<div class="PortfolioBlockTemplate" style="background-image:url('@ShowcaseIcon')">
    <h3>@Title</h3>
    <br />
    @LongDescription
    <br />
    <a href="@WebAddress">
        @*<button class="Address.Button">*@Visit@*</button>*@
    </a>
</div>


@code {
    [Parameter]
    public PortfolioBlock Data { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string ShowcaseIcon { get; set; } = string.Empty;

    [Parameter]
    public string LongDescription { get; set; } = string.Empty;

    [Parameter]
    public string WebAddress { get; set; } = string.Empty;

    protected override async void OnInitialized()
    {
        Title = Data.Title;
        ShowcaseIcon = Data.ShowcaseIcon;
        LongDescription = Data.LongDescription;
        WebAddress = Data.WebAddress;
    }
}