
<div>
    <h2>@Name</h2>
    <p>@Artists</p>
    <p>
        <a href="@YoutubeLink">Youtube</a>
        <a href="@DownloadLink">Download</a>
    </p>
</div>


@code {
    public Song Data { get; set; }
    public string Name { get; set; } = string.Empty;
    public string Lyrics { get; set; } = string.Empty;
    public string DownloadLink { get; set; } = string.Empty;
    public string YoutubeLink { get; set; } = string.Empty;
    public string Artists { get; set; } = string.Empty;


    protected override async void OnInitialized()
    {
        Name = Data.Name;
        Lyrics = Data.Lyrics;
        DownloadLink = Data.DownloadLink;
        YoutubeLink = Data.YoutubeLink;
        var NameOfArtists = new List<string>();
        foreach (var artist in Data.RelatedArtists)
        {
            NameOfArtists.Add(artist.Name);
        }
        Artists = string.Join(", ", NameOfArtists);
    }
}
